<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="movie-test-input" aria-describedby="emailHelp" placeholder="What's the movie?">
  </div>
  <button id="movie-test-button" class="btn btn-primary">Check Title</button>
</form>

<div id="movie-test-result">
</div>