<h1>Our Movies</h1>
<p>So basically! A list of what we've watched and fun stats about that.</p>

<u><strong>REMAINING TASKS</u></strong>
<ul>
  <li>Add 'Most Controversial' to stats</li>
  <li>Implement Favourite Movies system</li>
  <li>Implement Hated Movies system</li>
  <li>Let users edit their own data (working)</li>
  <li>Let users edit all movie details at once (working)</li>
  <li>Add latest movies on homepage</li>
  <li>Add 'to watch' list on homepage</li>
  <li>Create user dashboard / personal statistics</li>
  <li>Just make this fucking barebones hack of a site look nicer</li>
  <li>Background update metascore / IMDB rating every month or so</li>
</ul>

<u><strong>COMPLETED FEATURES</u></strong>
<ul>
  <li>Browse and sort movies with responsive tables</li>
  <li>Add new movies and autofill data</li>
  <li>Rate movies while adding them</li>
  <li>Rate movies on the individual movie pages</li>
  <li>See all movies in particular genres</li>
  <li>See 5* rated movies in all genres</li>
  <li>See how many movies in each genre</li>
</ul>
